# BERKENALAN DENGAN PYTHON

Python adalah salah satu pilihan bahasa pemrograman yang cukup banyak digunakan, tak terkecuali untuk bidang pengolahan dan analisa data. Ada beberapa alasan menggunakan Python:
#### 1. Populer
Python cukup banyak digunakan untuk berbagai hal dan banyak orang melakukan sharing knowledge baik melalui tulisan maupun video, sehingga kita dapat dengan mudah untuk mempelajarinya. Yang terpenting adalah dapat dengan mudah memperoleh solusi jika kita terkendala

#### 2. Mudah
Dari sisi pemrograman Python cukup mudah digunakan. Python memiliki strusktur yang cukup baik sehingga mudah dibaca. Python juga mengadopsi standar pemrograman, sama seperti bahasa pemrograman lain, sehingga jika telah perpengalaman dengan bahasa lain, maka akan cukup mudah beradaptasi dengan Python.
Dari sisi infrastruktur, Python mudah untuk diinstall, misalkan menggunakan Anaconda. Atau dapat menggunakan service gratis, misalkan menggunakan google colab, yang dapat digunaan tanpa perlu malakukan instalasi.

#### 3. Lengkap
Pyhton menyediakan berbagai library yang dapat digunakan untuk memecahkan berbagai permasalahan, mulai dari pembuatan aplikasi hingga untuk analisa data. 

Banyak hal menarik pada Python, tapi kita tidak akan berpanjang lebar disitu. Yuk langsung saja kita **KODING !**

## Perintah pada python dibatasi oleh baris

In [1]:
print("Apa kabar dunia")
print  ("Apa kabar dunia")
print('Apa kabar dunia')

Apa kabar dunia
Apa kabar dunia
Apa kabar dunia

Jika ingin menuliskan dalam satu baris, maka antar perintah dibatasi oleh koma.

In [2]:
print("Apa kabar dunia"); print("Apa kabar dunia")
print('Apa kabar dunia')

Apa kabar dunia
Apa kabar dunia
Apa kabar dunia

Untuk penulisan string pada baris yang berbeda dapat menggunakan tiga simbol **"**

In [3]:
print("""
baris ke satu
baris ke dua
 baris ke tiga
   baris ke empat""")

baris ke satu
baris ke dua
 baris ke tiga
   baris ke empat

## Komentar

Untuk memberikan komentar atau catatan pada kode, yang nantinya tidak akan diproses maka diawali dengan simbol **#**

In [4]:
# ini komentar

In [5]:
print('ini bukan komentar') #ini komentar

ini bukan komentar

## Case sensitive

Python adalah case sensitive, artinya Python akan membedakan huruf kapital maupun bukan. Misalkan fungsi **print**, tidak dapat ditulis sebagai **Print**

In [6]:
Print("a")

NameError: name 'Print' is not defined

## Deklarasi variable

Variabel pada Python adalah dinamis, tanpa harus mendeklarasikan typenya. Type variable akan secara otomatis terbentuk jika variable telah diberikan nilai

In [7]:
x = 3
print(type(x)) # Prints "<class 'int'>"
print(x)

<class 'int'>
3

Variabel **x** memiliki tipe int, karena nilai yang diberikan adalah bertipe numerik, dalam hal ini int

Tipe variable **x** akan berubah, ketika ada nilai tipe baru yang diberikan. Variable **x** yang semula bertipe int, akan berubah menjadi string

In [8]:
x = "tiga"

In [9]:
print(type(x)) # Prints "<class 'int'>"
print(x)

<class 'str'>
tiga

In [10]:
print(type(y))
print(y)

NameError: name 'y' is not defined

## Sensitif terhadap indent

In [11]:
x = 3
 x = 4

IndentationError: unexpected indent (<ipython-input-11-583b0f68f855>, line 2)

In [12]:
for x in [1, 2, 3]:
    print(x)
    print("-")

1
-
2
-
3
-

In [13]:
for x in [1, 2, 3]:
    print(x)
print("-")

1
2
3
-

## Kondisional/Percabangan

In [14]:
x = 6
if x == 0:
    print(x, ': nol')
elif x == 1:
    print(x, ': satu')
elif x > 1 and x <= 5:
    print('antara 2 dan 5')
else:
    print('lebih besar dari 5')
print(x)

lebih besar dari 5
6

## Perulangan

In [15]:
for x in [1, 2, 3]:
    print(x)

1
2
3

In [16]:
for x in range(1, 6, 2):
    print(x)

1
3
5

In [17]:
x = 1
while x < 5:
    print(x)
    x = x + 1

1
2
3
4

## Fungsi

In [18]:
def ubah_ke_text(x):
    hasil = "tidak ada"
    if x == 0:
        hasil = "nol"
    elif x == 1:
        hasil = "satu"
    elif x == 2:
        hasil = "dua"
    return hasil

In [19]:
x = 2
y = ubah_ke_text(x)
print(y)

dua

In [20]:
def fungsi_lain(x, y):
    hasil1 = "tidak ada"
    hasil2 = x + y
    if x == 0:
        hasil1 = "nol"
    elif x == 1:
        hasil1 = "satu"
    elif x == 2:
        hasil1 = "dua"
    return hasil1, hasil2

In [21]:
x = 2
res1, res2 = fungsi_lain(x, 2)
print(res1)
print(res2)

dua
4

## Menggunakan Paket Library

In [22]:
# Python version
import sys
print('Python: {}'.format(sys.version))

Python: 3.7.7 (default, May  6 2020, 11:45:54) [MSC v.1916 64 bit (AMD64)]

In [23]:
import numpy
print('numpy: {}'.format(numpy.__version__))

numpy: 1.18.1

In [24]:
import pandas as pd
print('pandas: {}'.format(pd.__version__))

pandas: 1.0.3

In [25]:
df = pd.DataFrame({'col1': [4, 5, 6, 7],
                   'col2': [10, 20, 30, 40],
                   'col3': [100, 50, -30, -50]})
df

   col1  col2  col3
0     4    10   100
1     5    20    50
2     6    30   -30
3     7    40   -50