In [1]:
import pandas as pd

## Membaca file csv

In [2]:
df = pd.read_csv("datasets_iris.csv")

## Sample data

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa

In [4]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa
5   6            5.4           3.9            1.7           0.4  setosa
6   7            4.6           3.4            1.4           0.3  setosa
7   8            5.0           3.4            1.5           0.2  setosa
8   9            4.4           2.9            1.4           0.2  setosa
9  10            4.9           3.1            1.5           0.1  setosa

In [5]:
df.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

In [6]:
df.sample(5)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm     Species
51    52            6.4           3.2            4.5           1.5  versicolor
20    21            5.4           3.4            1.7           0.2      setosa
135  136            7.7           3.0            6.1           2.3   virginica
41    42            4.5           2.3            1.3           0.3      setosa
96    97            5.7           2.9            4.2           1.3  versicolor

In [7]:
df[0:6]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa
5   6            5.4           3.9            1.7           0.4  setosa

In [8]:
df.iloc[2:6]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa
5   6            5.4           3.9            1.7           0.4  setosa

In [9]:
df.iloc[2:6, 0]

2    3
3    4
4    5
5    6
Name: Id, dtype: int64

In [10]:
for index, row in df.iterrows():
    print(index, row)

0 Id                    1
SepalLengthCm       5.1
SepalWidthCm        3.5
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 0, dtype: object
1 Id                    2
SepalLengthCm       4.9
SepalWidthCm          3
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 1, dtype: object
2 Id                    3
SepalLengthCm       4.7
SepalWidthCm        3.2
PetalLengthCm       1.3
PetalWidthCm        0.2
Species          setosa
Name: 2, dtype: object
3 Id                    4
SepalLengthCm       4.6
SepalWidthCm        3.1
PetalLengthCm       1.5
PetalWidthCm        0.2
Species          setosa
Name: 3, dtype: object
4 Id                    5
SepalLengthCm         5
SepalWidthCm        3.6
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 4, dtype: object
5 Id                    6
SepalLengthCm       5.4
SepalWidthCm        3.9
PetalLengthCm       1.7
PetalWidthCm        0.4
Species          setosa
Name: 5, dtype: object
6 Id                    7
SepalLengthCm       4.6
SepalWidthCm        3.4
PetalLengthCm       1.4
PetalWidthCm        0.3
Species          setosa
Name: 6, dtype: object
7 Id                    8
SepalLengthCm         5
SepalWidthCm        3.4
PetalLengthCm       1.5
PetalWidthCm        0.2
Species          setosa
Name: 7, dtype: object
8 Id                    9
SepalLengthCm       4.4
SepalWidthCm        2.9
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 8, dtype: object
9 Id                   10
SepalLengthCm       4.9
SepalWidthCm        3.1
PetalLengthCm       1.5
PetalWidthCm        0.1
Species          setosa
Name: 9, dtype: object
10 Id                   11
SepalLengthCm       5.4
SepalWidthCm        3.7
PetalLengthCm       1.5
PetalWidthCm        0.2
Species          setosa
Name: 10, dtype: object
11 Id                   12
SepalLengthCm       4.8
SepalWidthCm        3.4
PetalLengthCm       1.6
PetalWidthCm        0.2
Species          setosa
Name: 11, dtype: object
12 Id                   13
SepalLengthCm       4.8
SepalWidthCm          3
PetalLengthCm       1.4
PetalWidthCm        0.1
Species          setosa
Name: 12, dtype: object
13 Id                   14
SepalLengthCm       4.3
SepalWidthCm          3
PetalLengthCm       1.1
PetalWidthCm        0.1
Species          setosa
Name: 13, dtype: object
14 Id                   15
SepalLengthCm       5.8
SepalWidthCm          4
PetalLengthCm       1.2
PetalWidthCm        0.2
Species          setosa
Name: 14, dtype: object
15 Id                   16
SepalLengthCm       5.7
SepalWidthCm        4.4
PetalLengthCm       1.5
PetalWidthCm        0.4
Species          setosa
Name: 15, dtype: object
16 Id                   17
SepalLengthCm       5.4
SepalWidthCm        3.9
PetalLengthCm       1.3
PetalWidthCm        0.4
Species          setosa
Name: 16, dtype: object
17 Id                   18
SepalLengthCm       5.1
SepalWidthCm        3.5
PetalLengthCm       1.4
PetalWidthCm        0.3
Species          setosa
Name: 17, dtype: object
18 Id                   19
SepalLengthCm       5.7
SepalWidthCm        3.8
PetalLengthCm       1.7
PetalWidthCm        0.3
Species          setosa
Name: 18, dtype: object
19 Id                   20
SepalLengthCm       5.1
SepalWidthCm        3.8
PetalLengthCm       1.5
PetalWidthCm        0.3
Species          setosa
Name: 19, dtype: object
20 Id                   21
SepalLengthCm       5.4
SepalWidthCm        3.4
PetalLengthCm       1.7
PetalWidthCm        0.2
Species          setosa
Name: 20, dtype: object
21 Id                   22
SepalLengthCm       5.1
SepalWidthCm        3.7
PetalLengthCm       1.5
PetalWidthCm        0.4
Species          setosa
Name: 21, dtype: object
22 Id                   23
SepalLengthCm       4.6
SepalWidthCm        3.6
PetalLengthCm         1
PetalWidthCm        0.2
Species          setosa
Name: 22, dtype: object
23 Id                   24
SepalLengthCm       5.1
SepalWidthCm        3.3
PetalLengthCm       1.7
PetalWidthCm        0.5
Species          setosa
Name: 23, dtype: object
24 Id                   25
SepalLengthCm       4.8
SepalWidthCm        3.4
PetalLengthCm       1.9
PetalWidthCm        0.2
Species          setosa
Name: 24, dtype: object
25 Id                   26
SepalLengthCm         5
SepalWidthCm          3
PetalLengthCm       1.6
PetalWidthCm        0.2
Species          setosa
Name: 25, dtype: object
26 Id                   27
SepalLengthCm         5
SepalWidthCm        3.4
PetalLengthCm       1.6
PetalWidthCm        0.4
Species          setosa
Name: 26, dtype: object
27 Id                   28
SepalLengthCm       5.2
SepalWidthCm        3.5
PetalLengthCm       1.5
PetalWidthCm        0.2
Species          setosa
Name: 27, dtype: object
28 Id                   29
SepalLengthCm       5.2
SepalWidthCm        3.4
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 28, dtype: object
29 Id                   30
SepalLengthCm       4.7
SepalWidthCm        3.2
PetalLengthCm       1.6
PetalWidthCm        0.2
Species          setosa
Name: 29, dtype: object
30 Id                   31
SepalLengthCm       4.8
SepalWidthCm        3.1
PetalLengthCm       1.6
PetalWidthCm        0.2
Species          setosa
Name: 30, dtype: object
31 Id                   32
SepalLengthCm       5.4
SepalWidthCm        3.4
PetalLengthCm       1.5
PetalWidthCm        0.4
Species          setosa
Name: 31, dtype: object
32 Id                   33
SepalLengthCm       5.2
SepalWidthCm        4.1
PetalLengthCm       1.5
PetalWidthCm        0.1
Species          setosa
Name: 32, dtype: object
33 Id                   34
SepalLengthCm       5.5
SepalWidthCm        4.2
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 33, dtype: object
34 Id                   35
SepalLengthCm       4.9
SepalWidthCm        3.1
PetalLengthCm       1.5
PetalWidthCm        0.1
Species          setosa
Name: 34, dtype: object
35 Id                   36
SepalLengthCm         5
SepalWidthCm        3.2
PetalLengthCm       1.2
PetalWidthCm        0.2
Species          setosa
Name: 35, dtype: object
36 Id                   37
SepalLengthCm       5.5
SepalWidthCm        3.5
PetalLengthCm       1.3
PetalWidthCm        0.2
Species          setosa
Name: 36, dtype: object
37 Id                   38
SepalLengthCm       4.9
SepalWidthCm        3.1
PetalLengthCm       1.5
PetalWidthCm        0.1
Species          setosa
Name: 37, dtype: object
38 Id                   39
SepalLengthCm       4.4
SepalWidthCm          3
PetalLengthCm       1.3
PetalWidthCm        0.2
Species          setosa
Name: 38, dtype: object
39 Id                   40
SepalLengthCm       5.1
SepalWidthCm        3.4
PetalLengthCm       1.5
PetalWidthCm        0.2
Species          setosa
Name: 39, dtype: object
40 Id                   41
SepalLengthCm         5
SepalWidthCm        3.5
PetalLengthCm       1.3
PetalWidthCm        0.3
Species          setosa
Name: 40, dtype: object
41 Id                   42
SepalLengthCm       4.5
SepalWidthCm        2.3
PetalLengthCm       1.3
PetalWidthCm        0.3
Species          setosa
Name: 41, dtype: object
42 Id                   43
SepalLengthCm       4.4
SepalWidthCm        3.2
PetalLengthCm       1.3
PetalWidthCm        0.2
Species          setosa
Name: 42, dtype: object
43 Id                   44
SepalLengthCm         5
SepalWidthCm        3.5
PetalLengthCm       1.6
PetalWidthCm        0.6
Species          setosa
Name: 43, dtype: object
44 Id                   45
SepalLengthCm       5.1
SepalWidthCm        3.8
PetalLengthCm       1.9
PetalWidthCm        0.4
Species          setosa
Name: 44, dtype: object
45 Id                   46
SepalLengthCm       4.8
SepalWidthCm          3
PetalLengthCm       1.4
PetalWidthCm        0.3
Species          setosa
Name: 45, dtype: object
46 Id                   47
SepalLengthCm       5.1
SepalWidthCm        3.8
PetalLengthCm       1.6
PetalWidthCm        0.2
Species          setosa
Name: 46, dtype: object
47 Id                   48
SepalLengthCm       4.6
SepalWidthCm        3.2
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 47, dtype: object
48 Id                   49
SepalLengthCm       5.3
SepalWidthCm        3.7
PetalLengthCm       1.5
PetalWidthCm        0.2
Species          setosa
Name: 48, dtype: object
49 Id                   50
SepalLengthCm         5
SepalWidthCm        3.3
PetalLengthCm       1.4
PetalWidthCm        0.2
Species          setosa
Name: 49, dtype: object
50 Id                       51
SepalLengthCm             7
SepalWidthCm            3.2
PetalLengthCm           4.7
PetalWidthCm            1.4
Species          versicolor
Name: 50, dtype: object
51 Id                       52
SepalLengthCm           6.4
SepalWidthCm            3.2
PetalLengthCm           4.5
PetalWidthCm            1.5
Species          versicolor
Name: 51, dtype: object
52 Id                       53
SepalLengthCm           6.9
SepalWidthCm            3.1
PetalLengthCm           4.9
PetalWidthCm            1.5
Species          versicolor
Name: 52, dtype: object
53 Id                       54
SepalLengthCm           5.5
SepalWidthCm            2.3
PetalLengthCm             4
PetalWidthCm            1.3
Species          versicolor
Name: 53, dtype: object
54 Id                       55
SepalLengthCm           6.5
SepalWidthCm            2.8
PetalLengthCm           4.6
PetalWidthCm            1.5
Species          versicolor
Name: 54, dtype: object
55 Id                       56
SepalLengthCm           5.7
SepalWidthCm            2.8
PetalLengthCm           4.5
PetalWidthCm            1.3
Species          versicolor
Name: 55, dtype: object
56 Id                       57
SepalLengthCm           6.3
SepalWidthCm            3.3
PetalLengthCm           4.7
PetalWidthCm            1.6
Species          versicolor
Name: 56, dtype: object
57 Id                       58
SepalLengthCm           4.9
SepalWidthCm            2.4
PetalLengthCm           3.3
PetalWidthCm              1
Species          versicolor
Name: 57, dtype: object
58 Id                       59
SepalLengthCm           6.6
SepalWidthCm            2.9
PetalLengthCm           4.6
PetalWidthCm            1.3
Species          versicolor
Name: 58, dtype: object
59 Id                       60
SepalLengthCm           5.2
SepalWidthCm            2.7
PetalLengthCm           3.9
PetalWidthCm            1.4
Species          versicolor
Name: 59, dtype: object
60 Id                       61
SepalLengthCm             5
SepalWidthCm              2
PetalLengthCm           3.5
PetalWidthCm              1
Species          versicolor
Name: 60, dtype: object
61 Id                       62
SepalLengthCm           5.9
SepalWidthCm              3
PetalLengthCm           4.2
PetalWidthCm            1.5
Species          versicolor
Name: 61, dtype: object
62 Id                       63
SepalLengthCm             6
SepalWidthCm            2.2
PetalLengthCm             4
PetalWidthCm              1
Species          versicolor
Name: 62, dtype: object
63 Id                       64
SepalLengthCm           6.1
SepalWidthCm            2.9
PetalLengthCm           4.7
PetalWidthCm            1.4
Species          versicolor
Name: 63, dtype: object
64 Id                       65
SepalLengthCm           5.6
SepalWidthCm            2.9
PetalLengthCm           3.6
PetalWidthCm            1.3
Species          versicolor
Name: 64, dtype: object
65 Id                       66
SepalLengthCm           6.7
SepalWidthCm            3.1
PetalLengthCm           4.4
PetalWidthCm            1.4
Species          versicolor
Name: 65, dtype: object
66 Id                       67
SepalLengthCm           5.6
SepalWidthCm              3
PetalLengthCm           4.5
PetalWidthCm            1.5
Species          versicolor
Name: 66, dtype: object
67 Id                       68
SepalLengthCm           5.8
SepalWidthCm            2.7
PetalLengthCm           4.1
PetalWidthCm              1
Species          versicolor
Name: 67, dtype: object
68 Id                       69
SepalLengthCm           6.2
SepalWidthCm            2.2
PetalLengthCm           4.5
PetalWidthCm            1.5
Species          versicolor
Name: 68, dtype: object
69 Id                       70
SepalLengthCm           5.6
SepalWidthCm            2.5
PetalLengthCm           3.9
PetalWidthCm            1.1
Species          versicolor
Name: 69, dtype: object
70 Id                       71
SepalLengthCm           5.9
SepalWidthCm            3.2
PetalLengthCm           4.8
PetalWidthCm            1.8
Species          versicolor
Name: 70, dtype: object
71 Id                       72
SepalLengthCm           6.1
SepalWidthCm            2.8
PetalLengthCm             4
PetalWidthCm            1.3
Species          versicolor
Name: 71, dtype: object
72 Id                       73
SepalLengthCm           6.3
SepalWidthCm            2.5
PetalLengthCm           4.9
PetalWidthCm            1.5
Species          versicolor
Name: 72, dtype: object
73 Id                       74
SepalLengthCm           6.1
SepalWidthCm            2.8
PetalLengthCm           4.7
PetalWidthCm            1.2
Species          versicolor
Name: 73, dtype: object
74 Id                       75
SepalLengthCm           6.4
SepalWidthCm            2.9
PetalLengthCm           4.3
PetalWidthCm            1.3
Species          versicolor
Name: 74, dtype: object
75 Id                       76
SepalLengthCm           6.6
SepalWidthCm              3
PetalLengthCm           4.4
PetalWidthCm            1.4
Species          versicolor
Name: 75, dtype: object
76 Id                       77
SepalLengthCm           6.8
SepalWidthCm            2.8
PetalLengthCm           4.8
PetalWidthCm            1.4
Species          versicolor
Name: 76, dtype: object
77 Id                       78
SepalLengthCm           6.7
SepalWidthCm              3
PetalLengthCm             5
PetalWidthCm            1.7
Species          versicolor
Name: 77, dtype: object
78 Id                       79
SepalLengthCm             6
SepalWidthCm            2.9
PetalLengthCm           4.5
PetalWidthCm            1.5
Species          versicolor
Name: 78, dtype: object
79 Id                       80
SepalLengthCm           5.7
SepalWidthCm            2.6
PetalLengthCm           3.5
PetalWidthCm              1
Species          versicolor
Name: 79, dtype: object
80 Id                       81
SepalLengthCm           5.5
SepalWidthCm            2.4
PetalLengthCm           3.8
PetalWidthCm            1.1
Species          versicolor
Name: 80, dtype: object
81 Id                       82
SepalLengthCm           5.5
SepalWidthCm            2.4
PetalLengthCm           3.7
PetalWidthCm              1
Species          versicolor
Name: 81, dtype: object
82 Id                       83
SepalLengthCm           5.8
SepalWidthCm            2.7
PetalLengthCm           3.9
PetalWidthCm            1.2
Species          versicolor
Name: 82, dtype: object
83 Id                       84
SepalLengthCm             6
SepalWidthCm            2.7
PetalLengthCm           5.1
PetalWidthCm            1.6
Species          versicolor
Name: 83, dtype: object
84 Id                       85
SepalLengthCm           5.4
SepalWidthCm              3
PetalLengthCm           4.5
PetalWidthCm            1.5
Species          versicolor
Name: 84, dtype: object
85 Id                       86
SepalLengthCm             6
SepalWidthCm            3.4
PetalLengthCm           4.5
PetalWidthCm            1.6
Species          versicolor
Name: 85, dtype: object
86 Id                       87
SepalLengthCm           6.7
SepalWidthCm            3.1
PetalLengthCm           4.7
PetalWidthCm            1.5
Species          versicolor
Name: 86, dtype: object
87 Id                       88
SepalLengthCm           6.3
SepalWidthCm            2.3
PetalLengthCm           4.4
PetalWidthCm            1.3
Species          versicolor
Name: 87, dtype: object
88 Id                       89
SepalLengthCm           5.6
SepalWidthCm              3
PetalLengthCm           4.1
PetalWidthCm            1.3
Species          versicolor
Name: 88, dtype: object
89 Id                       90
SepalLengthCm           5.5
SepalWidthCm            2.5
PetalLengthCm             4
PetalWidthCm            1.3
Species          versicolor
Name: 89, dtype: object
90 Id                       91
SepalLengthCm           5.5
SepalWidthCm            2.6
PetalLengthCm           4.4
PetalWidthCm            1.2
Species          versicolor
Name: 90, dtype: object
91 Id                       92
SepalLengthCm           6.1
SepalWidthCm              3
PetalLengthCm           4.6
PetalWidthCm            1.4
Species          versicolor
Name: 91, dtype: object
92 Id                       93
SepalLengthCm           5.8
SepalWidthCm            2.6
PetalLengthCm             4
PetalWidthCm            1.2
Species          versicolor
Name: 92, dtype: object
93 Id                       94
SepalLengthCm             5
SepalWidthCm            2.3
PetalLengthCm           3.3
PetalWidthCm              1
Species          versicolor
Name: 93, dtype: object
94 Id                       95
SepalLengthCm           5.6
SepalWidthCm            2.7
PetalLengthCm           4.2
PetalWidthCm            1.3
Species          versicolor
Name: 94, dtype: object
95 Id                       96
SepalLengthCm           5.7
SepalWidthCm              3
PetalLengthCm           4.2
PetalWidthCm            1.2
Species          versicolor
Name: 95, dtype: object
96 Id                       97
SepalLengthCm           5.7
SepalWidthCm            2.9
PetalLengthCm           4.2
PetalWidthCm            1.3
Species          versicolor
Name: 96, dtype: object
97 Id                       98
SepalLengthCm           6.2
SepalWidthCm            2.9
PetalLengthCm           4.3
PetalWidthCm            1.3
Species          versicolor
Name: 97, dtype: object
98 Id                       99
SepalLengthCm           5.1
SepalWidthCm            2.5
PetalLengthCm             3
PetalWidthCm            1.1
Species          versicolor
Name: 98, dtype: object
99 Id                      100
SepalLengthCm           5.7
SepalWidthCm            2.8
PetalLengthCm           4.1
PetalWidthCm            1.3
Species          versicolor
Name: 99, dtype: object
100 Id                     101
SepalLengthCm          6.3
SepalWidthCm           3.3
PetalLengthCm            6
PetalWidthCm           2.5
Species          virginica
Name: 100, dtype: object
101 Id                     102
SepalLengthCm          5.8
SepalWidthCm           2.7
PetalLengthCm          5.1
PetalWidthCm           1.9
Species          virginica
Name: 101, dtype: object
102 Id                     103
SepalLengthCm          7.1
SepalWidthCm             3
PetalLengthCm          5.9
PetalWidthCm           2.1
Species          virginica
Name: 102, dtype: object
103 Id                     104
SepalLengthCm          6.3
SepalWidthCm           2.9
PetalLengthCm          5.6
PetalWidthCm           1.8
Species          virginica
Name: 103, dtype: object
104 Id                     105
SepalLengthCm          6.5
SepalWidthCm             3
PetalLengthCm          5.8
PetalWidthCm           2.2
Species          virginica
Name: 104, dtype: object
105 Id                     106
SepalLengthCm          7.6
SepalWidthCm             3
PetalLengthCm          6.6
PetalWidthCm           2.1
Species          virginica
Name: 105, dtype: object
106 Id                     107
SepalLengthCm          4.9
SepalWidthCm           2.5
PetalLengthCm          4.5
PetalWidthCm           1.7
Species          virginica
Name: 106, dtype: object
107 Id                     108
SepalLengthCm          7.3
SepalWidthCm           2.9
PetalLengthCm          6.3
PetalWidthCm           1.8
Species          virginica
Name: 107, dtype: object
108 Id                     109
SepalLengthCm          6.7
SepalWidthCm           2.5
PetalLengthCm          5.8
PetalWidthCm           1.8
Species          virginica
Name: 108, dtype: object

In [11]:
for index, row in df.iterrows():
    print(index, row['Species'])

0 setosa
1 setosa
2 setosa
3 setosa
4 setosa
5 setosa
6 setosa
7 setosa
8 setosa
9 setosa
10 setosa
11 setosa
12 setosa
13 setosa
14 setosa
15 setosa
16 setosa
17 setosa
18 setosa
19 setosa
20 setosa
21 setosa
22 setosa
23 setosa
24 setosa
25 setosa
26 setosa
27 setosa
28 setosa
29 setosa
30 setosa
31 setosa
32 setosa
33 setosa
34 setosa
35 setosa
36 setosa
37 setosa
38 setosa
39 setosa
40 setosa
41 setosa
42 setosa
43 setosa
44 setosa
45 setosa
46 setosa
47 setosa
48 setosa
49 setosa
50 versicolor
51 versicolor
52 versicolor
53 versicolor
54 versicolor
55 versicolor
56 versicolor
57 versicolor
58 versicolor
59 versicolor
60 versicolor
61 versicolor
62 versicolor
63 versicolor
64 versicolor
65 versicolor
66 versicolor
67 versicolor
68 versicolor
69 versicolor
70 versicolor
71 versicolor
72 versicolor
73 versicolor
74 versicolor
75 versicolor
76 versicolor
77 versicolor
78 versicolor
79 versicolor
80 versicolor
81 versicolor
82 versicolor
83 versicolor
84 versicolor
85 versicolor
86 versicolor
87 versicolor
88 versicolor
89 versicolor
90 versicolor
91 versicolor
92 versicolor
93 versicolor
94 versicolor
95 versicolor
96 versicolor
97 versicolor
98 versicolor
99 versicolor
100 virginica
101 virginica
102 virginica
103 virginica
104 virginica
105 virginica
106 virginica
107 virginica
108 virginica
109 virginica
110 virginica
111 virginica
112 virginica
113 virginica
114 virginica
115 virginica
116 virginica
117 virginica
118 virginica
119 virginica
120 virginica
121 virginica
122 virginica
123 virginica
124 virginica
125 virginica
126 virginica
127 virginica
128 virginica
129 virginica
130 virginica
131 virginica
132 virginica
133 virginica
134 virginica
135 virginica
136 virginica
137 virginica
138 virginica
139 virginica
140 virginica
141 virginica
142 virginica
143 virginica
144 virginica
145 virginica
146 virginica
147 virginica
148 virginica
149 virginica

In [12]:
for index, row in df.iterrows():
    print(index, row[['Species','SepalWidthCm']])

0 Species         setosa
SepalWidthCm       3.5
Name: 0, dtype: object
1 Species         setosa
SepalWidthCm         3
Name: 1, dtype: object
2 Species         setosa
SepalWidthCm       3.2
Name: 2, dtype: object
3 Species         setosa
SepalWidthCm       3.1
Name: 3, dtype: object
4 Species         setosa
SepalWidthCm       3.6
Name: 4, dtype: object
5 Species         setosa
SepalWidthCm       3.9
Name: 5, dtype: object
6 Species         setosa
SepalWidthCm       3.4
Name: 6, dtype: object
7 Species         setosa
SepalWidthCm       3.4
Name: 7, dtype: object
8 Species         setosa
SepalWidthCm       2.9
Name: 8, dtype: object
9 Species         setosa
SepalWidthCm       3.1
Name: 9, dtype: object
10 Species         setosa
SepalWidthCm       3.7
Name: 10, dtype: object
11 Species         setosa
SepalWidthCm       3.4
Name: 11, dtype: object
12 Species         setosa
SepalWidthCm         3
Name: 12, dtype: object
13 Species         setosa
SepalWidthCm         3
Name: 13, dtype: object
14 Species         setosa
SepalWidthCm         4
Name: 14, dtype: object
15 Species         setosa
SepalWidthCm       4.4
Name: 15, dtype: object
16 Species         setosa
SepalWidthCm       3.9
Name: 16, dtype: object
17 Species         setosa
SepalWidthCm       3.5
Name: 17, dtype: object
18 Species         setosa
SepalWidthCm       3.8
Name: 18, dtype: object
19 Species         setosa
SepalWidthCm       3.8
Name: 19, dtype: object
20 Species         setosa
SepalWidthCm       3.4
Name: 20, dtype: object
21 Species         setosa
SepalWidthCm       3.7
Name: 21, dtype: object
22 Species         setosa
SepalWidthCm       3.6
Name: 22, dtype: object
23 Species         setosa
SepalWidthCm       3.3
Name: 23, dtype: object
24 Species         setosa
SepalWidthCm       3.4
Name: 24, dtype: object
25 Species         setosa
SepalWidthCm         3
Name: 25, dtype: object
26 Species         setosa
SepalWidthCm       3.4
Name: 26, dtype: object
27 Species         setosa
SepalWidthCm       3.5
Name: 27, dtype: object
28 Species         setosa
SepalWidthCm       3.4
Name: 28, dtype: object
29 Species         setosa
SepalWidthCm       3.2
Name: 29, dtype: object
30 Species         setosa
SepalWidthCm       3.1
Name: 30, dtype: object
31 Species         setosa
SepalWidthCm       3.4
Name: 31, dtype: object
32 Species         setosa
SepalWidthCm       4.1
Name: 32, dtype: object
33 Species         setosa
SepalWidthCm       4.2
Name: 33, dtype: object
34 Species         setosa
SepalWidthCm       3.1
Name: 34, dtype: object
35 Species         setosa
SepalWidthCm       3.2
Name: 35, dtype: object
36 Species         setosa
SepalWidthCm       3.5
Name: 36, dtype: object
37 Species         setosa
SepalWidthCm       3.1
Name: 37, dtype: object
38 Species         setosa
SepalWidthCm         3
Name: 38, dtype: object
39 Species         setosa
SepalWidthCm       3.4
Name: 39, dtype: object
40 Species         setosa
SepalWidthCm       3.5
Name: 40, dtype: object
41 Species         setosa
SepalWidthCm       2.3
Name: 41, dtype: object
42 Species         setosa
SepalWidthCm       3.2
Name: 42, dtype: object
43 Species         setosa
SepalWidthCm       3.5
Name: 43, dtype: object
44 Species         setosa
SepalWidthCm       3.8
Name: 44, dtype: object
45 Species         setosa
SepalWidthCm         3
Name: 45, dtype: object
46 Species         setosa
SepalWidthCm       3.8
Name: 46, dtype: object
47 Species         setosa
SepalWidthCm       3.2
Name: 47, dtype: object
48 Species         setosa
SepalWidthCm       3.7
Name: 48, dtype: object
49 Species         setosa
SepalWidthCm       3.3
Name: 49, dtype: object
50 Species         versicolor
SepalWidthCm           3.2
Name: 50, dtype: object
51 Species         versicolor
SepalWidthCm           3.2
Name: 51, dtype: object
52 Species         versicolor
SepalWidthCm           3.1
Name: 52, dtype: object
53 Species         versicolor
SepalWidthCm           2.3
Name: 53, dtype: object
54 Species         versicolor
SepalWidthCm           2.8
Name: 54, dtype: object
55 Species         versicolor
SepalWidthCm           2.8
Name: 55, dtype: object
56 Species         versicolor
SepalWidthCm           3.3
Name: 56, dtype: object
57 Species         versicolor
SepalWidthCm           2.4
Name: 57, dtype: object
58 Species         versicolor
SepalWidthCm           2.9
Name: 58, dtype: object
59 Species         versicolor
SepalWidthCm           2.7
Name: 59, dtype: object
60 Species         versicolor
SepalWidthCm             2
Name: 60, dtype: object
61 Species         versicolor
SepalWidthCm             3
Name: 61, dtype: object
62 Species         versicolor
SepalWidthCm           2.2
Name: 62, dtype: object
63 Species         versicolor
SepalWidthCm           2.9
Name: 63, dtype: object
64 Species         versicolor
SepalWidthCm           2.9
Name: 64, dtype: object
65 Species         versicolor
SepalWidthCm           3.1
Name: 65, dtype: object
66 Species         versicolor
SepalWidthCm             3
Name: 66, dtype: object
67 Species         versicolor
SepalWidthCm           2.7
Name: 67, dtype: object
68 Species         versicolor
SepalWidthCm           2.2
Name: 68, dtype: object
69 Species         versicolor
SepalWidthCm           2.5
Name: 69, dtype: object
70 Species         versicolor
SepalWidthCm           3.2
Name: 70, dtype: object
71 Species         versicolor
SepalWidthCm           2.8
Name: 71, dtype: object
72 Species         versicolor
SepalWidthCm           2.5
Name: 72, dtype: object
73 Species         versicolor
SepalWidthCm           2.8
Name: 73, dtype: object
74 Species         versicolor
SepalWidthCm           2.9
Name: 74, dtype: object
75 Species         versicolor
SepalWidthCm             3
Name: 75, dtype: object
76 Species         versicolor
SepalWidthCm           2.8
Name: 76, dtype: object
77 Species         versicolor
SepalWidthCm             3
Name: 77, dtype: object
78 Species         versicolor
SepalWidthCm           2.9
Name: 78, dtype: object
79 Species         versicolor
SepalWidthCm           2.6
Name: 79, dtype: object
80 Species         versicolor
SepalWidthCm           2.4
Name: 80, dtype: object
81 Species         versicolor
SepalWidthCm           2.4
Name: 81, dtype: object
82 Species         versicolor
SepalWidthCm           2.7
Name: 82, dtype: object
83 Species         versicolor
SepalWidthCm           2.7
Name: 83, dtype: object
84 Species         versicolor
SepalWidthCm             3
Name: 84, dtype: object
85 Species         versicolor
SepalWidthCm           3.4
Name: 85, dtype: object
86 Species         versicolor
SepalWidthCm           3.1
Name: 86, dtype: object
87 Species         versicolor
SepalWidthCm           2.3
Name: 87, dtype: object
88 Species         versicolor
SepalWidthCm             3
Name: 88, dtype: object
89 Species         versicolor
SepalWidthCm           2.5
Name: 89, dtype: object
90 Species         versicolor
SepalWidthCm           2.6
Name: 90, dtype: object
91 Species         versicolor
SepalWidthCm             3
Name: 91, dtype: object
92 Species         versicolor
SepalWidthCm           2.6
Name: 92, dtype: object
93 Species         versicolor
SepalWidthCm           2.3
Name: 93, dtype: object
94 Species         versicolor
SepalWidthCm           2.7
Name: 94, dtype: object
95 Species         versicolor
SepalWidthCm             3
Name: 95, dtype: object
96 Species         versicolor
SepalWidthCm           2.9
Name: 96, dtype: object
97 Species         versicolor
SepalWidthCm           2.9
Name: 97, dtype: object
98 Species         versicolor
SepalWidthCm           2.5
Name: 98, dtype: object
99 Species         versicolor
SepalWidthCm           2.8
Name: 99, dtype: object
100 Species         virginica
SepalWidthCm          3.3
Name: 100, dtype: object
101 Species         virginica
SepalWidthCm          2.7
Name: 101, dtype: object
102 Species         virginica
SepalWidthCm            3
Name: 102, dtype: object
103 Species         virginica
SepalWidthCm          2.9
Name: 103, dtype: object
104 Species         virginica
SepalWidthCm            3
Name: 104, dtype: object
105 Species         virginica
SepalWidthCm            3
Name: 105, dtype: object
106 Species         virginica
SepalWidthCm          2.5
Name: 106, dtype: object
107 Species         virginica
SepalWidthCm          2.9
Name: 107, dtype: object
108 Species         virginica
SepalWidthCm          2.5
Name: 108, dtype: object
109 Species         virginica
SepalWidthCm          3.6
Name: 109, dtype: object
110 Species         virginica
SepalWidthCm          3.2
Name: 110, dtype: object
111 Species         virginica
SepalWidthCm          2.7
Name: 111, dtype: object
112 Species         virginica
SepalWidthCm            3
Name: 112, dtype: object
113 Species         virginica
SepalWidthCm          2.5
Name: 113, dtype: object
114 Species         virginica
SepalWidthCm          2.8
Name: 114, dtype: object
115 Species         virginica
SepalWidthCm          3.2
Name: 115, dtype: object
116 Species         virginica
SepalWidthCm            3
Name: 116, dtype: object
117 Species         virginica
SepalWidthCm          3.8
Name: 117, dtype: object
118 Species         virginica
SepalWidthCm          2.6
Name: 118, dtype: object
119 Species         virginica
SepalWidthCm          2.2
Name: 119, dtype: object
120 Species         virginica
SepalWidthCm          3.2
Name: 120, dtype: object
121 Species         virginica
SepalWidthCm          2.8
Name: 121, dtype: object
122 Species         virginica
SepalWidthCm          2.8
Name: 122, dtype: object
123 Species         virginica
SepalWidthCm          2.7
Name: 123, dtype: object
124 Species         virginica
SepalWidthCm          3.3
Name: 124, dtype: object
125 Species         virginica
SepalWidthCm          3.2
Name: 125, dtype: object
126 Species         virginica
SepalWidthCm          2.8
Name: 126, dtype: object
127 Species         virginica
SepalWidthCm            3
Name: 127, dtype: object
128 Species         virginica
SepalWidthCm          2.8
Name: 128, dtype: object
129 Species         virginica
SepalWidthCm            3
Name: 129, dtype: object
130 Species         virginica
SepalWidthCm          2.8
Name: 130, dtype: object
131 Species         virginica
SepalWidthCm          3.8
Name: 131, dtype: object
132 Species         virginica
SepalWidthCm          2.8
Name: 132, dtype: object
133 Species         virginica
SepalWidthCm          2.8
Name: 133, dtype: object
134 Species         virginica
SepalWidthCm          2.6
Name: 134, dtype: object
135 Species         virginica
SepalWidthCm            3
Name: 135, dtype: object
136 Species         virginica
SepalWidthCm          3.4
Name: 136, dtype: object
137 Species         virginica
SepalWidthCm          3.1
Name: 137, dtype: object
138 Species         virginica
SepalWidthCm            3
Name: 138, dtype: object
139 Species         virginica
SepalWidthCm          3.1
Name: 139, dtype: object
140 Species         virginica
SepalWidthCm          3.1
Name: 140, dtype: object
141 Species         virginica
SepalWidthCm          3.1
Name: 141, dtype: object
142 Species         virginica
SepalWidthCm          2.7
Name: 142, dtype: object
143 Species         virginica
SepalWidthCm          3.2
Name: 143, dtype: object
144 Species         virginica
SepalWidthCm          3.3
Name: 144, dtype: object
145 Species         virginica
SepalWidthCm            3
Name: 145, dtype: object
146 Species         virginica
SepalWidthCm          2.5
Name: 146, dtype: object
147 Species         virginica
SepalWidthCm            3
Name: 147, dtype: object
148 Species         virginica
SepalWidthCm          3.4
Name: 148, dtype: object
149 Species         virginica
SepalWidthCm            3
Name: 149, dtype: object

## Jumlah data

In [13]:
df.count()

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

## Informasi struktur data

In [14]:
df.shape

(150, 6)

In [ ]:
df.dtypes

## Menampilkan kolom

In [15]:
print(df.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [16]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [17]:
df[['SepalLengthCm', 'Species']]

     SepalLengthCm    Species
0              5.1     setosa
1              4.9     setosa
2              4.7     setosa
3              4.6     setosa
4              5.0     setosa
..             ...        ...
145            6.7  virginica
146            6.3  virginica
147            6.5  virginica
148            6.2  virginica
149            5.9  virginica

[150 rows x 2 columns]

In [18]:
df[['SepalLengthCm', 'Species']][0:5]

   SepalLengthCm Species
0            5.1  setosa
1            4.9  setosa
2            4.7  setosa
3            4.6  setosa
4            5.0  setosa

In [19]:
df.Species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

## Memfilter data

In [20]:
df[(df.Species == 'setosa') & (df.PetalWidthCm == 0.1)]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
9   10            4.9           3.1            1.5           0.1  setosa
12  13            4.8           3.0            1.4           0.1  setosa
13  14            4.3           3.0            1.1           0.1  setosa
32  33            5.2           4.1            1.5           0.1  setosa
34  35            4.9           3.1            1.5           0.1  setosa
37  38            4.9           3.1            1.5           0.1  setosa

In [21]:
df[(df['Species'] == 'virginica') & (df['PetalWidthCm'] < 2)]

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
101  102            5.8           2.7            5.1           1.9  virginica
103  104            6.3           2.9            5.6           1.8  virginica
106  107            4.9           2.5            4.5           1.7  virginica
107  108            7.3           2.9            6.3           1.8  virginica
108  109            6.7           2.5            5.8           1.8  virginica
111  112            6.4           2.7            5.3           1.9  virginica
116  117            6.5           3.0            5.5           1.8  virginica
119  120            6.0           2.2            5.0           1.5  virginica
123  124            6.3           2.7            4.9           1.8  virginica
125  126            7.2           3.2            6.0           1.8  virginica
126  127            6.2           2.8            4.8           1.8  virginica
127  128            6.1           3.0            4.9           1.8  virginica
129  130            7.2           3.0            5.8           1.6  virginica
130  131            7.4           2.8            6.1           1.9  virginica
133  134            6.3           2.8            5.1           1.5  virginica
134  135            6.1           2.6            5.6           1.4  virginica
137  138            6.4           3.1            5.5           1.8  virginica
138  139            6.0           3.0            4.8           1.8  virginica
142  143            5.8           2.7            5.1           1.9  virginica
146  147            6.3           2.5            5.0           1.9  virginica
149  150            5.9           3.0            5.1           1.8  virginica

In [22]:
df[  (df['Species'].isin(['virginica'])) 
   & (df['PetalWidthCm'] < 2)
  ]

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
101  102            5.8           2.7            5.1           1.9  virginica
103  104            6.3           2.9            5.6           1.8  virginica
106  107            4.9           2.5            4.5           1.7  virginica
107  108            7.3           2.9            6.3           1.8  virginica
108  109            6.7           2.5            5.8           1.8  virginica
111  112            6.4           2.7            5.3           1.9  virginica
116  117            6.5           3.0            5.5           1.8  virginica
119  120            6.0           2.2            5.0           1.5  virginica
123  124            6.3           2.7            4.9           1.8  virginica
125  126            7.2           3.2            6.0           1.8  virginica
126  127            6.2           2.8            4.8           1.8  virginica
127  128            6.1           3.0            4.9           1.8  virginica
129  130            7.2           3.0            5.8           1.6  virginica
130  131            7.4           2.8            6.1           1.9  virginica
133  134            6.3           2.8            5.1           1.5  virginica
134  135            6.1           2.6            5.6           1.4  virginica
137  138            6.4           3.1            5.5           1.8  virginica
138  139            6.0           3.0            4.8           1.8  virginica
142  143            5.8           2.7            5.1           1.9  virginica
146  147            6.3           2.5            5.0           1.9  virginica
149  150            5.9           3.0            5.1           1.8  virginica

In [23]:
df[  ~(df['Species'].isin(['virginica'])) 
   & (df['PetalWidthCm'] < 1.5)
  ]

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm     Species
0     1            5.1           3.5            1.4           0.2      setosa
1     2            4.9           3.0            1.4           0.2      setosa
2     3            4.7           3.2            1.3           0.2      setosa
3     4            4.6           3.1            1.5           0.2      setosa
4     5            5.0           3.6            1.4           0.2      setosa
..  ...            ...           ...            ...           ...         ...
95   96            5.7           3.0            4.2           1.2  versicolor
96   97            5.7           2.9            4.2           1.3  versicolor
97   98            6.2           2.9            4.3           1.3  versicolor
98   99            5.1           2.5            3.0           1.1  versicolor
99  100            5.7           2.8            4.1           1.3  versicolor

[85 rows x 6 columns]

In [24]:
newdf = df[  ~(df['Species'].isin(['virginica'])) 
   & (df['PetalWidthCm'] < 1.5)
  ]

In [25]:
newdf.sample(5)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm     Species
13  14            4.3           3.0            1.1           0.1      setosa
79  80            5.7           2.6            3.5           1.0  versicolor
28  29            5.2           3.4            1.4           0.2      setosa
73  74            6.1           2.8            4.7           1.2  versicolor
9   10            4.9           3.1            1.5           0.1      setosa

## Mengurutkan data

In [26]:
df.sort_values('PetalLengthCm')

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
22    23            4.6           3.6            1.0           0.2     setosa
13    14            4.3           3.0            1.1           0.1     setosa
14    15            5.8           4.0            1.2           0.2     setosa
35    36            5.0           3.2            1.2           0.2     setosa
36    37            5.5           3.5            1.3           0.2     setosa
..   ...            ...           ...            ...           ...        ...
131  132            7.9           3.8            6.4           2.0  virginica
105  106            7.6           3.0            6.6           2.1  virginica
117  118            7.7           3.8            6.7           2.2  virginica
122  123            7.7           2.8            6.7           2.0  virginica
118  119            7.7           2.6            6.9           2.3  virginica

[150 rows x 6 columns]

In [27]:
df.sort_values('PetalLengthCm')[0:5]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
22  23            4.6           3.6            1.0           0.2  setosa
13  14            4.3           3.0            1.1           0.1  setosa
14  15            5.8           4.0            1.2           0.2  setosa
35  36            5.0           3.2            1.2           0.2  setosa
36  37            5.5           3.5            1.3           0.2  setosa

In [28]:
df.sort_values('PetalLengthCm', ascending=False)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
118  119            7.7           2.6            6.9           2.3  virginica
122  123            7.7           2.8            6.7           2.0  virginica
117  118            7.7           3.8            6.7           2.2  virginica
105  106            7.6           3.0            6.6           2.1  virginica
131  132            7.9           3.8            6.4           2.0  virginica
..   ...            ...           ...            ...           ...        ...
36    37            5.5           3.5            1.3           0.2     setosa
35    36            5.0           3.2            1.2           0.2     setosa
14    15            5.8           4.0            1.2           0.2     setosa
13    14            4.3           3.0            1.1           0.1     setosa
22    23            4.6           3.6            1.0           0.2     setosa

[150 rows x 6 columns]

In [29]:
df.sort_values(['PetalLengthCm', 'SepalLengthCm' ])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
22    23            4.6           3.6            1.0           0.2     setosa
13    14            4.3           3.0            1.1           0.1     setosa
35    36            5.0           3.2            1.2           0.2     setosa
14    15            5.8           4.0            1.2           0.2     setosa
38    39            4.4           3.0            1.3           0.2     setosa
..   ...            ...           ...            ...           ...        ...
131  132            7.9           3.8            6.4           2.0  virginica
105  106            7.6           3.0            6.6           2.1  virginica
117  118            7.7           3.8            6.7           2.2  virginica
122  123            7.7           2.8            6.7           2.0  virginica
118  119            7.7           2.6            6.9           2.3  virginica

[150 rows x 6 columns]

In [30]:
df.sort_values(['PetalLengthCm', 'SepalLengthCm'], ascending=[1, 0])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
22    23            4.6           3.6            1.0           0.2     setosa
13    14            4.3           3.0            1.1           0.1     setosa
14    15            5.8           4.0            1.2           0.2     setosa
35    36            5.0           3.2            1.2           0.2     setosa
36    37            5.5           3.5            1.3           0.2     setosa
..   ...            ...           ...            ...           ...        ...
131  132            7.9           3.8            6.4           2.0  virginica
105  106            7.6           3.0            6.6           2.1  virginica
117  118            7.7           3.8            6.7           2.2  virginica
122  123            7.7           2.8            6.7           2.0  virginica
118  119            7.7           2.6            6.9           2.3  virginica

[150 rows x 6 columns]

## Agregasi dan Summary

In [31]:
newdf.count()

Id               85
SepalLengthCm    85
SepalWidthCm     85
PetalLengthCm    85
PetalWidthCm     85
Species          85
dtype: int64

In [32]:
df.SepalLengthCm.count()

150

In [33]:
df.SepalLengthCm.sum()

876.5

In [34]:
df.SepalLengthCm.min()

4.3

In [35]:
df.SepalLengthCm.max()

7.9

In [36]:
df.SepalLengthCm.mean()

5.843333333333335

In [37]:
df.groupby('Species').count()

            Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
setosa      50             50            50             50            50
versicolor  50             50            50             50            50
virginica   50             50            50             50            50

In [38]:
df.groupby('Species').min()

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
setosa        1            4.3           2.3            1.0           0.1
versicolor   51            4.9           2.0            3.0           1.0
virginica   101            4.9           2.2            4.5           1.4

In [39]:
df.groupby('Species')['SepalLengthCm'].count()

Species
setosa        50
versicolor    50
virginica     50
Name: SepalLengthCm, dtype: int64

In [40]:
df.groupby('Species')['SepalLengthCm', 'PetalLengthCm'].count()

C:\Users\bobkribo\anaconda3\envs\Machine Learning\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            SepalLengthCm  PetalLengthCm
Species
setosa                 50             50
versicolor             50             50
virginica              50             50

In [41]:
df.groupby('Species').agg(['sum', 'min', 'max', 'mean', 'count'])

              Id                        SepalLengthCm                         \
             sum  min  max   mean count           sum  min  max   mean count
Species
setosa      1275    1   50   25.5    50         250.3  4.3  5.8  5.006    50
versicolor  3775   51  100   75.5    50         296.8  4.9  7.0  5.936    50
virginica   6275  101  150  125.5    50         329.4  4.9  7.9  6.588    50

            ... PetalLengthCm                        PetalWidthCm            \
            ...           sum  min  max   mean count          sum  min  max
Species     ...
setosa      ...          73.2  1.0  1.9  1.464    50         12.2  0.1  0.6
versicolor  ...         213.0  3.0  5.1  4.260    50         66.3  1.0  1.8
virginica   ...         277.6  4.5  6.9  5.552    50        101.3  1.4  2.5


             mean count
Species
setosa      0.244    50
versicolor  1.326    50
virginica   2.026    50

[3 rows x 25 columns]

In [42]:
df.groupby('Species').agg(
    {
        'Id': 'count',
        'SepalLengthCm': 'sum',
        'SepalWidthCm': ['min', 'max']
    })

              Id SepalLengthCm SepalWidthCm
           count           sum          min  max
Species
setosa        50         250.3          2.3  4.4
versicolor    50         296.8          2.0  3.4
virginica     50         329.4          2.2  3.8

In [43]:
grpdf = df.groupby('Species').agg(
    {
        'Id': 'count',
        'SepalLengthCm': 'sum',
        'SepalWidthCm': ['min', 'max']
    })

In [44]:
grpdf.columns = ['_'.join(col) for col in grpdf.columns.values]
grpdf.head()

            Id_count  SepalLengthCm_sum  SepalWidthCm_min  SepalWidthCm_max
Species
setosa            50              250.3               2.3               4.4
versicolor        50              296.8               2.0               3.4
virginica         50              329.4               2.2               3.8

In [45]:
grpdf.rename(columns={'Id_count': 'cnt', 'SepalLengthCm_sum': 'sum_sepallength', 
                      'SepalWidthCm_min': 'min_sepalwidth',
                      'SepalWidthCm_max': 'max_sepalwidth'
                     })

            cnt  sum_sepallength  min_sepalwidth  max_sepalwidth
Species
setosa       50            250.3             2.3             4.4
versicolor   50            296.8             2.0             3.4
virginica    50            329.4             2.2             3.8

In [46]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [47]:
df.groupby('Species').size()

Species
setosa        50
versicolor    50
virginica     50
dtype: int64

## Transformasi kolom

In [48]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa

In [51]:
df['TotalLenght'] = df['SepalLengthCm'] + df['PetalLengthCm']
df['TotalLength'] = df['SepalLengthCm'] + df['PetalLengthCm']

df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,TotalLength,TotalLenght
0,1,5.1,3.5,1.4,0.2,setosa,6.5,6.5
1,2,4.9,3.0,1.4,0.2,setosa,6.3,6.3
2,3,4.7,3.2,1.3,0.2,setosa,6.0,6.0
3,4,4.6,3.1,1.5,0.2,setosa,6.1,6.1
4,5,5.0,3.6,1.4,0.2,setosa,6.4,6.4

In [52]:
df = df.drop(columns=['TotalLenght'])

In [53]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,TotalLength
0,1,5.1,3.5,1.4,0.2,setosa,6.5
1,2,4.9,3.0,1.4,0.2,setosa,6.3
2,3,4.7,3.2,1.3,0.2,setosa,6.0
3,4,4.6,3.1,1.5,0.2,setosa,6.1
4,5,5.0,3.6,1.4,0.2,setosa,6.4

In [54]:
df = df[['Id', 'TotalLength', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species' ]]

df.head()

,Id,TotalLength,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,6.5,5.1,3.5,1.4,0.2,setosa
1,2,6.3,4.9,3.0,1.4,0.2,setosa
2,3,6.0,4.7,3.2,1.3,0.2,setosa
3,4,6.1,4.6,3.1,1.5,0.2,setosa
4,5,6.4,5.0,3.6,1.4,0.2,setosa