In [1]:
import pandas as pd
import numpy as np

In [6]:
!dir Documents\credit_card.csv

 Volume in drive C is Windows-SSD
 Volume Serial Number is 6E27-3D7A

 Directory of C:\Users\bobkribo\Documents

20/09/2019  12:26       493.534.783 credit_card.csv
               1 File(s)    493.534.783 bytes
               0 Dir(s)  22.842.499.072 bytes free

In [7]:
data = pd.read_csv("Documents\credit_card.csv")
print(data.head())

   step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1   PAYMENT   9839.64  C1231006815       170136.0       160296.36
1     1   PAYMENT   1864.28  C1666544295        21249.0        19384.72
2     1  TRANSFER    181.00  C1305486145          181.0            0.00
3     1  CASH_OUT    181.00   C840083671          181.0            0.00
4     1   PAYMENT  11668.14  C2048537720        41554.0        29885.86

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0        0               0
1  M2044282225             0.0             0.0        0               0
2   C553264065             0.0             0.0        1               0
3    C38997010         21182.0             0.0        1               0
4  M1230701703             0.0             0.0        0               0

In [8]:
data["type"] = data["type"].map({"CASH_OUT": 1, "PAYMENT": 2, 
                                 "CASH_IN": 3, "TRANSFER": 4,
                                 "DEBIT": 5})

In [9]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [11]:
data[["type", "amount", "oldbalanceOrg", "newbalanceOrig", "isFraud"]].head()

   type    amount  oldbalanceOrg  newbalanceOrig  isFraud
0     2   9839.64       170136.0       160296.36        0
1     2   1864.28        21249.0        19384.72        0
2     4    181.00          181.0            0.00        1
3     1    181.00          181.0            0.00        1
4     2  11668.14        41554.0        29885.86        0

In [14]:
data.count()

step              6362620
type              6362620
amount            6362620
nameOrig          6362620
oldbalanceOrg     6362620
newbalanceOrig    6362620
nameDest          6362620
oldbalanceDest    6362620
newbalanceDest    6362620
isFraud           6362620
isFlaggedFraud    6362620
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x = np.array(data[["type", "amount", "oldbalanceOrg", "newbalanceOrig"]])
y = np.array(data[["isFraud"]])

In [23]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.001, random_state=42)

In [24]:
xtest.shape

(6363, 4)

In [25]:
df_feature = pd.DataFrame(xtest, columns = ["type", "amount", "oldbalanceOrg", "newbalanceOrig"])

In [27]:
df_feature.shape

(6363, 4)

In [28]:
df_feature.head()

   type      amount  oldbalanceOrg  newbalanceOrig
0   3.0   330218.42       20866.00       351084.42
1   2.0    11647.08       30370.00        18722.92
2   3.0   152264.21      106589.00       258853.21
3   4.0  1551760.63           0.00            0.00
4   3.0    78172.30     2921331.58      2999503.88

In [29]:
df_label = pd.DataFrame(ytest, columns = ["isFraud"])

In [30]:
df = pd.concat([df_feature, df_label], axis=1)

In [31]:
df.head()

   type      amount  oldbalanceOrg  newbalanceOrig  isFraud
0   3.0   330218.42       20866.00       351084.42        0
1   2.0    11647.08       30370.00        18722.92        0
2   3.0   152264.21      106589.00       258853.21        0
3   4.0  1551760.63           0.00            0.00        0
4   3.0    78172.30     2921331.58      2999503.88        0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6363 entries, 0 to 6362
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            6363 non-null   float64
 1   amount          6363 non-null   float64
 2   oldbalanceOrg   6363 non-null   float64
 3   newbalanceOrig  6363 non-null   float64
 4   isFraud         6363 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 248.7 KB

In [33]:
df.groupby('isFraud').count()

         type  amount  oldbalanceOrg  newbalanceOrig
isFraud
0        6351    6351           6351            6351
1          12      12             12              12

In [34]:
data.groupby('isFraud').count()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,,,,
0,6354407,6354407,6354407,6354407,6354407,6354407,6354407,6354407,6354407,6354407
1,8213,8213,8213,8213,8213,8213,8213,8213,8213,8213

In [36]:
data[(data.isFraud == 1)].head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,4,181.0,C1305486145,181.0,0.0,C553264065,0.0,0.0,1,0
3,1,1,181.0,C840083671,181.0,0.0,C38997010,21182.0,0.0,1,0
251,1,4,2806.0,C1420196421,2806.0,0.0,C972765878,0.0,0.0,1,0
252,1,1,2806.0,C2101527076,2806.0,0.0,C1007251739,26202.0,0.0,1,0
680,1,4,20128.0,C137533655,20128.0,0.0,C1848415041,0.0,0.0,1,0

In [38]:
data_fraud = data[(data.isFraud == 1)]

In [39]:
x = np.array(data_fraud[["type", "amount", "oldbalanceOrg", "newbalanceOrig"]])
y = np.array(data_fraud[["isFraud"]])

In [42]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.1, random_state=42)

In [43]:
xtest.shape

(822, 4)

In [44]:
df_feature_fraud = pd.DataFrame(xtest, columns = ["type", "amount", "oldbalanceOrg", "newbalanceOrig"])

In [45]:
df_label_fraud = pd.DataFrame(ytest, columns = ["isFraud"])

In [47]:
df_label_fraud.count()

isFraud    822
dtype: int64

In [48]:
df_fraud = pd.concat([df_feature_fraud, df_label_fraud], axis=1)

In [51]:
df_fraud.describe()

             type        amount  oldbalanceOrg  newbalanceOrig  isFraud
count  822.000000  8.220000e+02   8.220000e+02    8.220000e+02    822.0
mean     2.456204  1.499266e+06   1.690954e+06    2.084957e+05      1.0
std      1.500273  2.373535e+06   3.446355e+06    1.823783e+06      0.0
min      1.000000  1.190000e+02   0.000000e+00    0.000000e+00      1.0
25%      1.000000  1.470366e+05   1.462777e+05    0.000000e+00      1.0
50%      1.000000  4.889793e+05   4.877602e+05    0.000000e+00      1.0
75%      4.000000  1.516824e+06   1.516824e+06    0.000000e+00      1.0
max      4.000000  1.000000e+07   3.567455e+07    2.567455e+07      1.0

In [52]:
df.count()

type              6363
amount            6363
oldbalanceOrg     6363
newbalanceOrig    6363
isFraud           6363
dtype: int64

In [53]:
small_df = pd.concat([df, df_fraud], ignore_index=True)
small_df.index

RangeIndex(start=0, stop=7185, step=1)

In [54]:
small_df.count()

type              7185
amount            7185
oldbalanceOrg     7185
newbalanceOrig    7185
isFraud           7185
dtype: int64

In [55]:
small_df.head()

   type      amount  oldbalanceOrg  newbalanceOrig  isFraud
0   3.0   330218.42       20866.00       351084.42        0
1   2.0    11647.08       30370.00        18722.92        0
2   3.0   152264.21      106589.00       258853.21        0
3   4.0  1551760.63           0.00            0.00        0
4   3.0    78172.30     2921331.58      2999503.88        0

In [58]:
small_df['type'] = small_df['type'].apply(np.int64)

In [59]:
small_df.head()

   type      amount  oldbalanceOrg  newbalanceOrig  isFraud
0     3   330218.42       20866.00       351084.42        0
1     2    11647.08       30370.00        18722.92        0
2     3   152264.21      106589.00       258853.21        0
3     4  1551760.63           0.00            0.00        0
4     3    78172.30     2921331.58      2999503.88        0

In [60]:
small_df.groupby('isFraud').count()

         type  amount  oldbalanceOrg  newbalanceOrig
isFraud
0        6351    6351           6351            6351
1         834     834            834             834

In [61]:
small_df.to_csv('Documents\credit_card_small.csv', index=False)