In [1]:
!date

Wed Apr 27 14:45:12 UTC 2022

## Read Open Weather Map API

In [55]:
import requests

from pprint import pprint
import pandas as pd
import datetime
from time import sleep
import pytz

In [56]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:77.0) Gecko/20100101 Firefox/77.0'}

In [57]:
data_res = []

url = 'https://api.openweathermap.org/data/2.5/onecall?lat=-6.400526222&lon=106.8318436&exclude=hourly,daily&appid=188c9968ee8328776735c7bd5f3b6e25'

print(url)

https://api.openweathermap.org/data/2.5/onecall?lat=-6.400526222&lon=106.8318436&exclude=hourly,daily&appid=188c9968ee8328776735c7bd5f3b6e25

In [58]:
res = requests.get(url)
data = res.json()

In [59]:
data

{'current': {'clouds': 100,
  'dew_point': 293.99,
  'dt': 1651076161,
  'feels_like': 297.29,
  'humidity': 85,
  'pressure': 1009,
  'rain': {'1h': 2.05},
  'sunrise': 1651013584,
  'sunset': 1651056444,
  'temp': 296.66,
  'uvi': 0,
  'visibility': 10000,
  'weather': [{'description': 'moderate rain',
    'icon': '10n',
    'id': 501,
    'main': 'Rain'}],
  'wind_deg': 252,
  'wind_gust': 1.32,
  'wind_speed': 1.16},
 'lat': -6.4005,
 'lon': 106.8318,
 'minutely': [{'dt': 1651076220, 'precipitation': 2.0505},
  {'dt': 1651076280, 'precipitation': 2.0505},
  {'dt': 1651076340, 'precipitation': 2.0505},
  {'dt': 1651076400, 'precipitation': 2.0505},
  {'dt': 1651076460, 'precipitation': 2.0505},
  {'dt': 1651076520, 'precipitation': 2.0505},
  {'dt': 1651076580, 'precipitation': 2.0505},
  {'dt': 1651076640, 'precipitation': 2.0505},
  {'dt': 1651076700, 'precipitation': 2.0505},
  {'dt': 1651076760, 'precipitation': 2.0505},
  {'dt': 1651076820, 'precipitation': 2.0505},
  {'dt': 1651076880, 'precipitation': 2.0505},
  {'dt': 1651076940, 'precipitation': 2.0505},
  {'dt': 1651077000, 'precipitation': 2.0505},
  {'dt': 1651077060, 'precipitation': 2.114},
  {'dt': 1651077120, 'precipitation': 2.1774},
  {'dt': 1651077180, 'precipitation': 2.2409},
  {'dt': 1651077240, 'precipitation': 2.3044},
  {'dt': 1651077300, 'precipitation': 2.3679},
  {'dt': 1651077360, 'precipitation': 2.4412},
  {'dt': 1651077420, 'precipitation': 2.5145},
  {'dt': 1651077480, 'precipitation': 2.5878},
  {'dt': 1651077540, 'precipitation': 2.6611},
  {'dt': 1651077600, 'precipitation': 2.7344},
  {'dt': 1651077660, 'precipitation': 2.819},
  {'dt': 1651077720, 'precipitation': 2.9037},
  {'dt': 1651077780, 'precipitation': 2.9883},
  {'dt': 1651077840, 'precipitation': 3.0729},
  {'dt': 1651077900, 'precipitation': 3.1576},
  {'dt': 1651077960, 'precipitation': 3.1576},
  {'dt': 1651078020, 'precipitation': 3.1576},
  {'dt': 1651078080, 'precipitation': 3.1576},
  {'dt': 1651078140, 'precipitation': 3.1576},
  {'dt': 1651078200, 'precipitation': 3.1576},
  {'dt': 1651078260, 'precipitation': 3.2553},
  {'dt': 1651078320, 'precipitation': 3.3531},
  {'dt': 1651078380, 'precipitation': 3.4508},
  {'dt': 1651078440, 'precipitation': 3.5486},
  {'dt': 1651078500, 'precipitation': 3.6463},
  {'dt': 1651078560, 'precipitation': 3.7592},
  {'dt': 1651078620, 'precipitation': 3.8721},
  {'dt': 1651078680, 'precipitation': 3.985},
  {'dt': 1651078740, 'precipitation': 4.0978},
  {'dt': 1651078800, 'precipitation': 4.2107},
  {'dt': 1651078860, 'precipitation': 4.2107},
  {'dt': 1651078920, 'precipitation': 4.2107},
  {'dt': 1651078980, 'precipitation': 4.2107},
  {'dt': 1651079040, 'precipitation': 4.2107},
  {'dt': 1651079100, 'precipitation': 4.2107},
  {'dt': 1651079160, 'precipitation': 4.3411},
  {'dt': 1651079220, 'precipitation': 4.4714},
  {'dt': 1651079280, 'precipitation': 4.6018},
  {'dt': 1651079340, 'precipitation': 4.7321},
  {'dt': 1651079400, 'precipitation': 4.8625},
  {'dt': 1651079460, 'precipitation': 5.013},
  {'dt': 1651079520, 'precipitation': 5.1635},
  {'dt': 1651079580, 'precipitation': 5.314},
  {'dt': 1651079640, 'precipitation': 5.4646},
  {'dt': 1651079700, 'precipitation': 5.6151},
  {'dt': 1651079760, 'precipitation': 5.6151},
  {'dt': 1651079820, 'precipitation': 5.6151}],
 'timezone': 'Asia/Jakarta',
 'timezone_offset': 25200}

In [60]:
sunrise = data['current']['sunrise']
sunrise

1651013584

In [ ]:
#timestamp = 1651070974
#value = datetime.datetime.fromtimestamp(timestamp)
#print(f"{value:%Y-%m-%d %H:%M:%S}")

Convert to Jakarta time zone

In [ ]:
# tzInfo = pytz.timezone('Asia/Jakarta')
# timestamp = 1651074600
# local_dt = datetime.datetime.fromtimestamp(timestamp, tz=tzInfo)
# print(f"{local_dt:%Y-%m-%d %H:%M:%S}")

## Get JSON Data to Pandas

In [61]:
current_dt = data['current']['dt']
city = 'Depok'
latitude = data['lat']
longitude = data['lon']
sunrise = data['current']['sunrise']
sunset = data['current']['sunset']
temp = data['current']['temp']
feels_like = data['current']['feels_like']
pressure = data['current']['pressure']
humidity = data['current']['humidity']
dew_point = data['current']['dew_point']
uvi = data['current']['uvi']
clouds = data['current']['clouds']
visibility = data['current']['visibility']
wind_speed = data['current']['wind_speed']
wind_deg = data['current']['wind_deg']

description = data ['current']['weather'][0]['description']
data_res.append([current_dt, city, latitude, longitude, sunrise, sunset, temp, feels_like, pressure, humidity, dew_point, uvi, clouds, visibility, wind_speed, wind_deg, description])

In [62]:
df_weather = pd.DataFrame(data_res, \
                  columns=['current_dt', 'city', 'latitude', 'longitude', 'sunrise', 'sunset', 
                           'temp', 'feels_like', 'pressure', 'humidity', 'dew_point', 'uvi', 'clouds', 
                           'visibility', 'wind_speed', 'wind_deg', 'description']
                  )

In [63]:
df_weather.head()

,current_dt,city,latitude,longitude,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,description
0,1651076161,Depok,-6.4005,106.8318,1651013584,1651056444,296.66,297.29,1009,85,293.99,0,100,10000,1.16,252,moderate rain

In [64]:
df_weather['time_stamp'] = pd.to_datetime(df_weather['current_dt'], unit='s')
df_weather['time_stamp'] = df_weather['time_stamp'].dt.tz_localize('UTC')
df_weather['time_stamp'] = df_weather['time_stamp'].dt.tz_convert('Asia/Jakarta')

In [65]:
df_weather.head()

,current_dt,city,latitude,longitude,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,description,time_stamp
0,1651076161,Depok,-6.4005,106.8318,1651013584,1651056444,296.66,297.29,1009,85,293.99,0,100,10000,1.16,252,moderate rain,2022-04-27 23:16:01+07:00

Save dataframe to csv file

In [76]:
df_weather.to_csv('weather.csv', mode='a', header=False, index=False)

## Get Precipitation

In [67]:
precipitation = data['minutely']

In [68]:
type(precipitation)

list

In [69]:
precipitation[0]

{'dt': 1651076220, 'precipitation': 2.0505}

In [72]:
df_precipitation = pd.DataFrame(precipitation)

In [73]:
df_precipitation.head()

           dt  precipitation
0  1651076220         2.0505
1  1651076280         2.0505
2  1651076340         2.0505
3  1651076400         2.0505
4  1651076460         2.0505

In [74]:
df_precipitation['time_stamp'] = pd.to_datetime(df_precipitation['dt'], unit='s')
df_precipitation['time_stamp'] = df_precipitation['time_stamp'].dt.tz_localize('UTC')
df_precipitation['time_stamp'] = df_precipitation['time_stamp'].dt.tz_convert('Asia/Jakarta')

In [75]:
df_precipitation.head()

           dt  precipitation                time_stamp
0  1651076220         2.0505 2022-04-27 23:17:00+07:00
1  1651076280         2.0505 2022-04-27 23:18:00+07:00
2  1651076340         2.0505 2022-04-27 23:19:00+07:00
3  1651076400         2.0505 2022-04-27 23:20:00+07:00
4  1651076460         2.0505 2022-04-27 23:21:00+07:00

In [77]:
df_precipitation.to_csv('precipitation.csv', mode='a', header=False, index=False)